#city{
	position: absolute;
	width: 1200px;
	top:200px;
	left:300px;
}
#city1{
	position: relative;
	width: 100px;
	text-align: center;
}
#cityddEdit{
	position: relative;
	margin-left:20px;
}

#bkn{
	position: absolute;
	width: 1200px;
	top:250px;
	left:300px;
}
#bkn1{
	position: relative;
	width: 100px;
	text-align: center;
}

#bkn2{
	position: relative;
	margin-left: 20px;
}

#seller1{
	position: relative;
	padding-left: 0px;
	width: 100px;
	text-align: center;
}
#seller3{
	position: relative;
	margin-left: 20px;
}




#prj{
	position: absolute;
	width:1200px;
	left: 300px;
	top: 300px;
}
#project1{
	position: relative;
	width: 100px;
	text-align: center;
}
#project{
	position: relative;
	margin-left: 20px;
}
#proj1{
	position: relative;
	padding-left: 0px;
	width: 100px;
	text-align: center;
}
#proj{
	position: relative;
	margin-left: 20px;
}

#bhk{
	/*display: none;*/
	position: absolute;
	left: 300px;
	top: 350px;
	width: 1200px;
}
#bh1{
	position: relative;
	width: 100px;
	text-align: center;
}
#bh3{
	position: relative;
	margin-left: 20px;
}

#facing1{
	position: relative;
	padding-left: 100px;
	width: 100px;
	text-align: center;
}

#facing2{
	position: relative;
	margin-left: 32px;
}

#othr{
	position: absolute;
	top: 400px;
	width: 1800px;
	

}
#othr1{
	position: relative;
	width: 40px;
	text-align: center;
}

#other_input{
	position: relative;
	height: 15px;
	width: 60px;
}

#othr2{
	position: relative;
	width: 100px;
}

#bath{
	position: relative;
	margin-left: 50px;
	width: 60px;
	text-align: center;
}

#bath1{
	position: relative;
	width: 60px;
}

#bath2{
	position: relative;
	height: 15px;
	width: 60px;
}

#tol1{
	position: relative;
	width: 60px;
	text-align: center;
}

#tol2{
	position: relative;
	width: 80px;
}

#tol3{
	position: relative;
	height: 15px;
	width: 60px;
}

#appartment1{
	position: relative;
	width: 100px;
	text-align: center;
}

#appartment2{
	position: relative;
	width: 80px;
}

#appartment3{
	position: relative;
	height: 15px;
	width: 120px;
}

#study_servant{
	position: absolute;
	left: 350px;
	top: 450px;
	width: 1200px;

}

#study1{
	position: relative;
	width: 80px;
	text-align: center;
}

#study{
	position: relative;
	width: 120px;
}


#servant1{
	position: relative;
	width: 85px;
}

#servant{
	position: relative;
	margin-left: 120px;
	margin-top: 0px;
}

#penthouse_td1{
	position: relative;
	padding-left: 40px;
	width: 80px;
	text-align: left;
}

#penthouse_td2{
	position: relative;
	width: 80px;
}

#penthouse_sel{
	position: relative;
	height: 15px;
	width: 120px;
}


#tower_floor{
	position: absolute;
	left: 300px;
	top: 510px;
	width: 1200px;
}

#tower1{
	position: relative;
	width: 100px;
	text-align: center;
}	

#tower2{
	position: relative;
	margin-left: 20px;
}

#floor1{
	position: relative;
	padding-left: 40px;
	width: 30px;
	text-align: center;
}

#floor2{
	position: relative;
	margin-left: 10px;
}

#flat_park{
	position: absolute;
	left: 300px;
	top: 580px;
	width: 1200px;
}

#flt1{
	position: relative;
	width: 100px;
	text-align: center;
}

#flt2{
	position: relative;
	margin-left: 20px;
}

#park1{
	position: relative;
	padding-left: 200px;
	width: 100px;
	text-align: center;
}

#park2{
	position: relative;
	margin-left: 32px;
}

#prs_trf{
	position: absolute;
	left: 300px;
	top: 650px;
	width: 1200px;
}


#prs1{
	position: relative;
	width: 100px;
	text-align: center;
}

#prs5{
	position: relative;
	margin-left: 20px; 
}

#prs3{
	/*display: none;*/
	position: relative;
}


#other_charges{
	position: relative;
	padding-left: 100px;
	width: 100px;
	text-align: center;
}

#othr_prs2{
	position: relative;
	margin-left: 32px;
}


#prs_typ{
	position: absolute;
	left: 300px;
	top: 680px;
	width: 1200px;
}

#pr{
	position: relative;

}

#oth1{
	position: relative;
}

#oth2{
	position: relative;
	margin-left: -200px;
}
#tr{
	position: relative;
}

#hln{
	position: absolute;
	left: 300px;
	top: 800px;
	width: 1200px;
}

#hln1{
	position: relative;
	width: 120px;
	margin-left: 10px;
	text-align: center;
}

#hln2{
	position: relative;
	margin-left: 20px; 	
	width: 100px;
}

#bank_list1{
	position: relative;
	width: 250px;
	margin-left: 40px;
} 
#bank_list2{
	display: none;
	position: relative;
	width: 100px;
}

#plc1{
	position: relative;
	text-align: center;
	width: 100px;
}

#plc2{
	position: relative;
	width: 130px;
}

#plc3{
	display: none;
	position: relative;
	width: 60px;

}




#negotiable_id{
	position: absolute;
	/*left: 300px;
	/*top: 780px;*/
	width: 1200px;

}

#tfr1{
	position: relative;
	padding-left: 0px;
	width: 100px;
	text-align: center;
}

#tfr2{
	position: relative;
	margin-left: 22px;
} 


#discription1{
	position: absolute;
	left: 300px;
	top: 880px;
	width: 1200px;
	height: 120px;
	/*background-color: gold;*/
}
#discription4{
	position: relative;
	padding-left: 30px;

}
#discription2{
	position: relative;
	width: 300px;
	height: 100px;
	/*background-color: red;*/
}
#description3{
	position: relative;
	width: 200px;
	height: 100px;
}

#review1{
	position: relative;
	width: 100px;
	height: 100px;
}

#review2{
	position: relative;
	width: 400px;
	height: 100px;
}

#review3{
	position: relative;
	width: 250px;
	height: 100px;
}














.size1{
	position: absolute;
	margin-left: -50px;
	margin-top: 200px;
}

#size{
	position: absolute;
	margin-left: 0px;
	margin-top: 200px;
}

#sqft{
	position: absolute;
	margin-left: -280px;
	margin-top: 200px;
}

.sel{
	position: absolute;
	margin-top:50px;
	margin-left:0px;
}

.rad{
	position: absolute;
	margin-left: 600px;
	margin-top: 200px;
}
